# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# No jshint expected
.jshintrc
.jshintignore

# Project specific
.nyc_output/
/coverage
/output
/package
/index.js
/index.mjs
tmp
*.tgz
